@use '../../styles/vars';
@use 'sass:color';
@use 'sass:math';

.card {
  border-radius: 1rem;
  border: 1px solid #ddd;
  width: 400px;
  margin: vars.$gutter 5px 0 5px;
  overflow: hidden;
  position: relative;

  @media (max-width: vars.$small) {
    width: 100%;
  }

  &-type {
    position: absolute;
    bottom: 105px;
    right: 0;
    letter-spacing: 0.02857em;
    color: white;
    font-size: small;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding: 5px;

    &-poisson {
      background-color: #9c27b0;
    }

    &-viande {
      background-color: orange;
    }

    &-vegan {
      background-color: black;
    }
  }

  &-content {
    padding: vars.$halfGutter;
  }

  &-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 250px;
  }

  &-title {
    font-size: 1.15em;
    margin-bottom: .2em;
  }

  &-desc {
    color: rgba(0, 0, 0, .4);
    font-size: .8em;
    margin-bottom: vars.$halfGutter;
    height: 40px;
  }

  &-link {
    background-color: vars.$color;
    color: white;
    display: inline-block;
    margin: 0 10px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: vars.$halfGutter;
    border-radius: 3px;

    &:hover {
      background-color: color.scale(vars.$color, $lightness: -30%);
    }
  }

  &-btn {
    background-color: green;
    color: white;
    margin: 0 10px;
    text-align: center;
    width: 150px;
    height: 40px;
    display: inline-block;
    padding: vars.$halfGutter;
    border-radius: 3px;
    border: none;

    &-ctn {
      display: flex;
      justify-content: center;
    }

    &:hover {
      background-color: color.scale(green, $lightness: -30%);
    }

    &-disabled {
      color: grey;
      background-color: darkgrey;

      &:hover {
        background-color: darkgrey;
        cursor: not-allowed
      }
    }

  }
}